{% extends "base/_base.html" %}

{% set page_title = message.page_title_donators %}

{% block content %}


<!-- 蠎人赞助 -->
<div class="ui vertical stripe center aligned segment">

  <div class="ui text container">
    <h3 class="ui center aligned header pythoners">{{ message.donators }}</h3>
  </div>

  <!-- TODO: 头像放到CDN -->

  <div class="ui container pythoners">
    {% for donator in donators %}
    <a class="ui image label">
      <img
        src="./asset/images/avatar/small/{{ loop.cycle('1', '2', '3') }}.jpg">
      {{ donator}}
    </a>
    {% endfor %}
  </div>

</div>


{% endblock %}
