<div class="ui vertical stripe center aligned segment">

  <div class="ui text container">
    <h3 class="ui center aligned header">{{ message.address }}</h3>

    <div class="ui centered grid">
      <div class="ui center aligned list">
        <div class="item">
          <i class="building icon"></i>
          <div class="content">{{ schedule.address }}</div>
        </div>
        <div class="item">
          <i class="marker icon"></i>
          <div class="content">
            {{ schedule.venue }}
            {% if schedule.maplink %}
              <a href="{{ schedule.maplink }}" target="_blank">({{ message.map }})</a>
            {% endif %}
          </div>
        </div>
        <div class="item">
          <i class="bus icon"></i>
          <div class="content" style="text-align: left;">
            {{ schedule.traffic }}
          </div>
        </div>
        <div class="item">
          <i class="calendar icon"></i>
          <div class="content">
            {{ schedule.date }}
          </div>
        </div>
        <div class="item">
          <i class="video play icon"></i>
          <div class="content">
            {% if schedule.video %}
              <a href="{{ schedule.video }}" target="_blank">现场视频</a>
            {% else %}
                暂无视频
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


{% macro speech_block(city, speech) %}
 {% if speech %}
    <div class="item">
      <div class="content">

        {% if speech.speaker %}
          {% set a_speaker = speakers[speech.speaker] %}
          {% set topic = a_speaker[city + '_topic'] or a_speaker.topic %}
          <a class="header">{{ topic.title }}</a>
          <div class="meta">
            <span class="price">{{ speech.time }}</span>
            <span class="stay">{{ a_speaker.name }}</span>
          </div>
          <div class="description">
            作者简介: {{ a_speaker.short_intro or a_speaker.intro }}
            <br />
            {{ topic.preview }}
          </div>
          {% if topic.slide or topic.video %}
            <div class="extra">
              {% if topic.slide %}
                <div class="ui label"><a href="{{ topic.slide }}" target="_blank">{{ message.slide }}</a></div>
              {% endif %}
              {% if topic.video %}
                <div class="ui label"><a href="{{ topic.video }}" target="_blank">{{ message.video }}</a></div>
              {% endif %}
            </div>
          {% endif %}
        {% else %}
          <a class="header">{{ speech.topic }}</a>
          <div class="meta">
            <span class="price">{{ speech.time }}</span>
          </div>
        {% endif %}

      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro schedule_block(city, schedule, time, extra_class) %}
<div class="ui vertical stripe segment {{ extra_class }}">

  <div class="ui text container">
    <h3 class="ui center aligned header schedule">{{ time }}</h3>

    <div class="ui divided items">
      {% if schedule %}
        {% for speech in schedule %}
          {{ speech_block(city, speech) }}
        {% endfor %}
      {% endif %}
    </div>

  </div>

</div>
{% endmacro %}

{{ schedule_block(schedule.city, schedule.morning, message.morning, "pycon-even-seg") }}
{{ schedule_block(schedule.city, schedule.noon, message.noon, "pycon-odd-seg") }}
{{ schedule_block(schedule.city, schedule.afternoon, message.afternoon, "pycon-even-seg") }}
